env: dev
logLevel: debug

providers:
  selfHostedGitlab:
    type: "gitlab"
    apiToken: ""
    repoUrl: ""

  exampleOrgGCP:
    type: "gcp"

secrets:
  - name: ""
    source:
      id: ""
      type: "" 
      path: ""
      secretName: ""
      options:
        nbMaxConcurrent: 2
    dest:
      - id: ""
        path: ""
        type: ""
        secretName: ""
        options:
          base64: false
