env: dev
logLevel: debug

providers:
  selfHostedGitlab:
    type: "gitlab"
    apiToken: ""
    repoUrl: ""

  exampleOrgGCP:
    type: "gcp"

secrets:
  - name: ""
    source:
      id: ""
      path: ""
      type: ""
    dest:
      - id: ""
        type: ""
        path: ""
        formatOptions: [""]
